<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/task/styles/home.css">
    <link rel="stylesheet" href="/task/styles/dropDown.css">
    <link rel="stylesheet" href="/task/styles/iconTextArea.css">
    <title>Task Manager</title>
</head>

<body>
    <form name="container" id="container" class="container">
        <div th:replace="~{taskFragments/dropDown::dropDown}"></div>
        <h1 class="h1" th:text="${h1}"></h1>
        <div class="divTitle">
            <textarea name="title" id="title" class="tarefa" placeholder="Task name" maxlength="100"
                autofocus></textarea>
            <img src="/favicon.ico">
        </div>
        <p>
            <input type="button" id="sub" value="Submit" class="btnSubmit">
        </p>
        <p>
        <div id="tasks" th:insert="~{taskFragments/body::tasks}" class="taskList">
        </div>
        <div class="pagination">
            <input type="button" class="page previous" id="previous" name="previous" value="<">
            <input type="button" class="page actu" id="actu" name="page" th:value="${page}">
            <input type="button" class="page next" id="next" name="next" value=">">
        </div>
    </form>
</body>
<script src="/task/script/requestTask.js"></script>
<script src="/task/script/home.js"></script>
<script src="/task/script/dropDown.js"></script>

</html>